<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="static\css\style.css">
</head>
<body>
    <div class="logo">
        <h1>Lorem</h1>
    </div>
    <div class="main1">
        <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="contact.html">CONTACT</a></li>
            <li><a href="about.html">ABOUT US</a></li>
        </ul>
    </div>
    <div class="abt">
    <div class="aboutus">
        <p>About us :</p>
    </div>

    <div class="about1">
       
        <p>Welcome to our website, where technology meets agriculture to ensure a healthier and more sustainable future. Our mission is to empower farmers with cutting-edge solutions to detect plant diseases early, reduce crop losses, and maximize yield potential.</p><br>
        <p>We specialize in <b>agricultural plant disease detection</b>, utilizing advanced technologies like Deep learning, Python -Flask. With our innovative tools and applications, farmers can identify diseases in plants with pinpoint accuracy, often before visible symptoms become critical.
        </p>
    </div>
    <div class="about2">
        <p>Our Technology Stack :</p>
        <ul>
            <li><b>Programming Languages: </b>Python, R, and MATLAB for data analysis and model development.</li>
            <li><b>AI Frameworks:</b> TensorFlow, PyTorch, and Scikit-learn for training predictive models.</li>
            <li><b>Image Analysis: </b>OpenCV and custom CNNs (Convolutional Neural Networks) for disease classification.</li>
            <li><b>Mobile & Web Platforms: </b>User-friendly interfaces that allow farmers to upload plant images and receive instant disease diagnostics and recommendations.</li>
        </ul>
    </div>
    <div class="about3">
        <p>Our team is made up of passionate professionals who blend expertise in agriculture, data science, and software development. Together, we are dedicated to solving real-world challenges faced by farmers in maintaining healthy crops.</p><br>
        <p>Join us in revolutionizing agriculture and ensuring food security for generations to come. Let's cultivate a future where every plant thrives!</p>
    </div>
    </div>
</body>
</html>